

<br>

                  
                  <button type="button" class="tableBtn btn btn-outline-secondary btn-lg"><a href="/admin_delete"><span class="glyphicon glyphicon-minus"></span> Delete Student</a></button>
                  <button type="button" class="tableBtn btn btn-outline-secondary btn-lg"><a href="/admin" ><span class="glyphicon glyphicon-heart-empty"></span> Student Dashboard</a></button>

<h1>Add Student Here</h1>
  <div class="form-group row">
          <div class="panel-body">
                <div class="col-xs-3"></div>

                <div class="col-xs-6">

<!-- Second Container -->
  <div id="loginForm" class="container-fluid bg-2 text-center">

<!---delete start-->
    
                      <form name ="admin_add" class="create-update-form" action="/admin_add" method="POST">


                        <div class="form-group">
                      
                          <input class="form-control" type="text" id="student_Id" name="student_Id" placeholder="Student ID Here" value="{{student_Id}}">
                        </div>

                        <div class="form-group">
                     
                          <input class="form-control" type="text" id="student_Email" name="student_Email" placeholder="Student Email Here" value="{{student_Email}}">
                        </div>

                        <div class="form-group">
                       
                          <input class="form-control" type="text" id="student_Name" name="student_Name" placeholder="First Name Last Name Here" value="{{student_Name}}">
                        </div>

                        <div class="form-group">
                          
                          <input class="form-control" type="text" id="un" name="student_Hour" placeholder="Student Class Hour Here" value="{{student_Hour}}">
                        </div>

                         <div class="form-group">
                   

                          <input  class="form-control"type="text" id="student_TeacherName" name="student_TeacherName" placeholder="Teacher's Name Here" value="{{student_TeacherName}}">
                        </div>


                        <button id="loginBtn" class="btn btn-default btn-sm">Add Student</button>

                      </form>
<!---delete end-->




  </div>


    </div>

    <div class="col-xs-3"></div>
  </div>  
</div>
